*
{
    box-sizing: border-box;
}
img
{
    display: block;
    max-width: 100%;
}
@media (min-width:360px)
{
    .header .contenedor
    {
        display: flex;
        justify-content: space-between;
        background: white;
        color: white;
    }
.icono_menu
{
    display: block;
    width: 25px;
    height: 30px;
    /*border: 6px solid black;*/
    border-radius: 5px;
    margin-left: auto;
    margin-top: 25px;
    cursor: pointer;
    margin-right: 5px;
}
.menu_nav
{
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    transition: all 0.8s;
    background: black;

}
.menu
{
list-style: none;
padding:0;
margin:0;
background: rgba(11, 2, 137, 0.938);
}
.menu_link
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
    display: flex;
}
.menu_link:hover
{
    color: rgb(247, 250, 253);
    background: rgb(209, 77, 77);
}
.mostrar
{
    left: 0;
}

.banner
{
    position: relative;
    z-index: -1000;
    width: 360px;
    height: 250px;
    margin-top: 10px;
    margin-left: -8px;
    background-image: url(imagenes/Comida-Mexicana-y-Tex-Mex.jpg);
    background-size: 100% 100%;
    animation: banner 20s infinite;
}
@keyframes banner {
    0%, 30% {
        background-image: url(imagenes/comidas-más-populares-del-mundo.jpg);
        opacity: 1;
    } 31%, 34%
    {
        opacity: 0.1;
    }
    35%, 65% {
        background-image: url(imagenes/marq_priimos.jpg);
        opacity: 1;
    }66%, 69%
    {
        opacity: 0.1;
    }
    70%, 100% {
        background-image: url(imagenes/comida-mexicana2.jpg);
        opacity: 1;
    }
}
#encabezado
{
    font-size: 23px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.Productos
{
    width: 360px;
    height: 1550px;
    background: whitesmoke;
    display: block;
    margin-left: -8px;
}
.Tarjeta_Productos
{
    width: 318px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.221) 0px 10px 20px, rgba(5, 5, 5, 0.23) 0px 6px 6px;
    margin-left: 20px;
    border-radius: 5%;
    background-color: whitesmoke;

}
#birria
{
    border-radius: 30%;
}
#taco
{
    width: 170px;
    height: 150px;
    border-radius: 20%;

}
#imagen_producto
{
 width: 170px;
 height: 80px;
 margin-left: 22%;
 padding-top: 10px;
}
#imagen_productob
{
 width: 190px;
 height: 150px;
}
#imagen_productoe
{
 width: 190px;
 height: 145px;
 border-radius: 20%;
}
#imagen_productof
{
 width: 190px;
 height: 135px;
 border-radius: 20%;
}
#imagen_productog
{
 width: 190px;
 height: 155px;
 border-radius: 20%;
}
#imagen_productoh
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#imagen_productohor
{
 width: 190px;
 height: 135px;
 border-radius: 10%;
 margin-left: 20px;
}
#imagen_productoi
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#ima1
{
    padding-top: 30px;
    width: 170px;
    height: 160px;
}

#ima2
{
    padding-top: 20px;
    width: 200px;
    height: 140px;
}
#Nombre
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombreb
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombrec
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 70px;
 margin-left: 10px;
 color: black;
}
#Nombred
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 75px;
 margin-left: 10px;
 color: black;
}
#Nombree
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 85px;
 margin-left: 10px;
 color: black;
}
#Nombref
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombreg
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 80px;
 margin-left: 10px;
 color: black;
}
#Nombreh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombrei
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Descripcion_producto
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 color: black;
}
#Descripcion_productob
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -10px;
 color: black;
}
#Descripcion_productoc
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -8px;
 color: black;
}
#Descripcion_productod
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoe
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productof
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productog
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoi
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Precio
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    color: black;
}
.Tarjeta_Productos:hover {
    cursor: pointer;
    scale: 0.98;
    background-color: white;
   }
.espacio
{
    margin-top: 30px;
}
.iconos_menu
{
    padding-left: 12px;
    width: 30px;
}
.prom
{
    width: 200px;
    height: 250px;
    margin-left: 20%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#siem
{
    width: 180px;
    height: 35px;
    background: red;
    color: white;
    margin-left: 8px;
    text-align: center;
    text-shadow: 1px 1px white;
    margin-top: 20px;

}
#letp
{
    font-size: 40px;
    color: black;
    width: 200px;
    height: 200px;
    text-shadow: 1px 1px black;
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
}
@media (min-width:373px)
{
    .header .contenedor
    {
        display: flex;
        justify-content: space-between;
        background: white;
        color: white;
    }
.icono_menu
{
    display: block;
    width: 25px;
    height: 30px;
    /*border: 6px solid black;*/
    border-radius: 5px;
    margin-left: auto;
    margin-top: 25px;
    cursor: pointer;
    margin-right: 5px;
}
.menu_nav
{
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    transition: all 0.8s;
    background: black;

}
.menu
{
list-style: none;
padding:0;
margin:0;
background: rgba(11, 2, 137, 0.938);
}
.menu_link
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
    display: flex;
}
.menu_link:hover
{
    color: rgb(247, 250, 253);
    background: rgb(209, 77, 77);
}
.mostrar
{
    left: 0;
}

.banner
{
    position: relative;
    z-index: -1000;
    width: 373px;
    height: 250px;
    margin-top: 10px;
    margin-left: -8px;
    background-image: url(imagenes/Comida-Mexicana-y-Tex-Mex.jpg);
    background-size: 100% 100%;
    animation: banner 20s infinite;
}
@keyframes banner {
    0%, 30% {
        background-image: url(imagenes/comidas-más-populares-del-mundo.jpg);
        opacity: 1;
    } 31%, 34%
    {
        opacity: 0.1;
    }
    35%, 65% {
        background-image: url(imagenes/marq_priimos.jpg);
        opacity: 1;
    }66%, 69%
    {
        opacity: 0.1;
    }
    70%, 100% {
        background-image: url(imagenes/comida-mexicana2.jpg);
        opacity: 1;
    }
}
#encabezado
{
    font-size: 23px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.Productos
{
    width: 360px;
    height: 1350px;
    background: white;
    display: block;
    margin-left: -8px;
}
.Tarjeta_Productos
{
    width: 318px;
    height: 330px;
    box-shadow: rgba(0, 0, 0, 0.221) 0px 10px 20px, rgba(5, 5, 5, 0.23) 0px 6px 6px;
    margin-left: 20px;
    border-radius: 5%;
    background-color: whitesmoke;

}
#birria
{
    border-radius: 30%;
}
#taco
{
    width: 170px;
    height: 150px;
    border-radius: 20%;

}
#imagen_producto
{
 width: 170px;
 height: 80px;
 margin-left: 22%;
 padding-top: 10px;
}
#imagen_productob
{
 width: 190px;
 height: 150px;
}
#imagen_productoe
{
 width: 190px;
 height: 145px;
 border-radius: 20%;
}
#imagen_productof
{
 width: 190px;
 height: 135px;
 border-radius: 20%;
}
#imagen_productog
{
 width: 190px;
 height: 155px;
 border-radius: 20%;
}
#imagen_productoh
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#imagen_productohor
{
 width: 190px;
 height: 135px;
 border-radius: 10%;
 margin-left: 20px;
}
#imagen_productoi
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#ima1
{
    padding-top: 30px;
    width: 170px;
    height: 160px;
}

#ima2
{
    padding-top: 20px;
    width: 200px;
    height: 140px;
}
#Nombre
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombreb
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombrec
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 70px;
 margin-left: 10px;
 color: black;
}
#Nombred
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 75px;
 margin-left: 10px;
 color: black;
}
#Nombree
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 85px;
 margin-left: 10px;
 color: black;
}
#Nombref
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombreg
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 80px;
 margin-left: 10px;
 color: black;
}
#Nombreh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombrei
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Descripcion_producto
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 color: black;
}
#Descripcion_productob
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -10px;
 color: black;
}
#Descripcion_productoc
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -8px;
 color: black;
}
#Descripcion_productod
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoe
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productof
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productog
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoi
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Precio
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    color: black;
}
.Tarjeta_Productos:hover {
    cursor: pointer;
    scale: 0.98;
    background-color: white;
   }
.espacio
{
    margin-top: 30px;
}
.iconos_menu
{
    padding-left: 12px;
    width: 30px;
}
.prom
{
    width: 200px;
    height: 250px;
    margin-left: 20%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#siem
{
    width: 180px;
    height: 35px;
    background: red;
    color: white;
    margin-left: 8px;
    text-align: center;
    text-shadow: 1px 1px white;
    margin-top: 20px;

}
#letp
{
    font-size: 40px;
    color: black;
    width: 200px;
    height: 200px;
    text-shadow: 1px 1px black;
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
}
@media (min-width:375px)
{
    .header .contenedor
    {
        display: flex;
        justify-content: space-between;
        background: white;
        color: white;
    }
.icono_menu
{
    display: block;
    width: 25px;
    height: 30px;
    /*border: 6px solid black;*/
    border-radius: 5px;
    margin-left: auto;
    margin-top: 25px;
    cursor: pointer;
    margin-right: 5px;
}
.menu_nav
{
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    transition: all 0.8s;
    background: black;

}
.menu
{
list-style: none;
padding:0;
margin:0;
background: rgba(11, 2, 137, 0.938);
}
.menu_link
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
    display: flex;
}
.menu_link:hover
{
    color: rgb(247, 250, 253);
    background: rgb(209, 77, 77);
}
.mostrar
{
    left: 0;
}

.banner
{
    position: relative;
    z-index: -1000;
    width: 375px;
    height: 250px;
    margin-top: 10px;
    margin-left: -8px;
    background-image: url(imagenes/Comida-Mexicana-y-Tex-Mex.jpg);
    background-size: 100% 100%;
    animation: banner 20s infinite;
}
@keyframes banner {
    0%, 30% {
        background-image: url(imagenes/comidas-más-populares-del-mundo.jpg);
        opacity: 1;
    } 31%, 34%
    {
        opacity: 0.1;
    }
    35%, 65% {
        background-image: url(imagenes/marq_priimos.jpg);
        opacity: 1;
    }66%, 69%
    {
        opacity: 0.1;
    }
    70%, 100% {
        background-image: url(imagenes/comida-mexicana2.jpg);
        opacity: 1;
    }
}
#encabezado
{
    font-size: 23px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.Productos
{
    width: 375px;
    height: 1350px;
    background: white;
    display: block;
    margin-left: -8px;
}
.Tarjeta_Productos
{
    width: 318px;
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.221) 0px 10px 20px, rgba(5, 5, 5, 0.23) 0px 6px 6px;
    margin-left: 25px;
    border-radius: 5%;
    background-color: whitesmoke;

}
#birria
{
    border-radius: 30%;
}
#taco
{
    width: 170px;
    height: 150px;
    border-radius: 20%;

}
#imagen_producto
{
 width: 170px;
 height: 80px;
 margin-left: 22%;
 padding-top: 10px;
}
#imagen_productob
{
 width: 190px;
 height: 150px;
}
#imagen_productoe
{
 width: 190px;
 height: 145px;
 border-radius: 20%;
}
#imagen_productof
{
 width: 190px;
 height: 135px;
 border-radius: 20%;
}
#imagen_productog
{
 width: 190px;
 height: 155px;
 border-radius: 20%;
}
#imagen_productoh
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#imagen_productohor
{
 width: 190px;
 height: 135px;
 border-radius: 10%;
 margin-left: 20px;
}
#imagen_productoi
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#ima1
{
    padding-top: 30px;
    width: 170px;
    height: 160px;
}

#ima2
{
    padding-top: 20px;
    width: 200px;
    height: 140px;
}
#Nombre
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombreb
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombrec
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 70px;
 margin-left: 10px;
 color: black;
}
#Nombred
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 75px;
 margin-left: 10px;
 color: black;
}
#Nombree
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 85px;
 margin-left: 10px;
 color: black;
}
#Nombref
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombreg
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 80px;
 margin-left: 10px;
 color: black;
}
#Nombreh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombrei
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Descripcion_producto
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 color: black;
}
#Descripcion_productob
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -10px;
 color: black;
}
#Descripcion_productoc
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -8px;
 color: black;
}
#Descripcion_productod
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoe
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productof
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productog
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoi
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Precio
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    color: black;
}
.Tarjeta_Productos:hover {
    cursor: pointer;
    scale: 0.98;
    background-color: white;
   }
.espacio
{
    margin-top: 30px;
}
.iconos_menu
{
    padding-left: 12px;
    width: 30px;
}
.prom
{
    width: 200px;
    height: 250px;
    margin-left: 20%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#siem
{
    width: 180px;
    height: 35px;
    background: red;
    color: white;
    margin-left: 8px;
    text-align: center;
    text-shadow: 1px 1px white;
    margin-top: 20px;

}
#letp
{
    font-size: 40px;
    color: black;
    width: 200px;
    height: 200px;
    text-shadow: 1px 1px black;
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
}
@media (min-width:412px)
{
    .header .contenedor
    {
        display: flex;
        justify-content: space-between;
        background: white;
        color: white;
    }
.icono_menu
{
    display: block;
    width: 25px;
    height: 30px;
    /*border: 6px solid black;*/
    border-radius: 5px;
    margin-left: auto;
    margin-top: 25px;
    cursor: pointer;
    margin-right: 5px;
}
.menu_nav
{
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    transition: all 0.8s;
    background: black;

}
.menu
{
list-style: none;
padding:0;
margin:0;
background: rgba(11, 2, 137, 0.938);
}
.menu_link
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
    display: flex;
}
.menu_link:hover
{
    color: rgb(247, 250, 253);
    background: rgb(209, 77, 77);
}
.mostrar
{
    left: 0;
}

.banner
{
    position: relative;
    z-index: -1000;
    width: 412px;
    height: 250px;
    margin-top: 10px;
    margin-left: -8px;
    background-image: url(imagenes/Comida-Mexicana-y-Tex-Mex.jpg);
    background-size: 100% 100%;
    animation: banner 20s infinite;
}
@keyframes banner {
    0%, 30% {
        background-image: url(imagenes/comidas-más-populares-del-mundo.jpg);
        opacity: 1;
    } 31%, 34%
    {
        opacity: 0.1;
    }
    35%, 65% {
        background-image: url(imagenes/marq_priimos.jpg);
        opacity: 1;
    }66%, 69%
    {
        opacity: 0.1;
    }
    70%, 100% {
        background-image: url(imagenes/comida-mexicana2.jpg);
        opacity: 1;
    }
}
#encabezado
{
    font-size: 23px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.Productos
{
    width: 412px;
    height: 1350px;
    background: white;
    display: block;
    margin-left: -8px;
}
.Tarjeta_Productos
{
    width: 318px;
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.221) 0px 10px 20px, rgba(5, 5, 5, 0.23) 0px 6px 6px;
    margin-left: 45px;
    border-radius: 5%;
    background-color: whitesmoke;

}
#birria
{
    border-radius: 30%;
}
#taco
{
    width: 170px;
    height: 150px;
    border-radius: 20%;

}
#imagen_producto
{
 width: 170px;
 height: 80px;
 margin-left: 22%;
 padding-top: 10px;
}
#imagen_productob
{
 width: 190px;
 height: 150px;
}
#imagen_productoe
{
 width: 190px;
 height: 145px;
 border-radius: 20%;
}
#imagen_productof
{
 width: 190px;
 height: 135px;
 border-radius: 20%;
}
#imagen_productog
{
 width: 190px;
 height: 155px;
 border-radius: 20%;
}
#imagen_productoh
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#imagen_productohor
{
 width: 190px;
 height: 135px;
 border-radius: 10%;
 margin-left: 20px;
}
#imagen_productoi
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#ima1
{
    padding-top: 30px;
    width: 170px;
    height: 160px;
}

#ima2
{
    padding-top: 20px;
    width: 200px;
    height: 140px;
}
#Nombre
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombreb
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombrec
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 70px;
 margin-left: 10px;
 color: black;
}
#Nombred
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 75px;
 margin-left: 10px;
 color: black;
}
#Nombree
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 85px;
 margin-left: 10px;
 color: black;
}
#Nombref
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombreg
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 80px;
 margin-left: 10px;
 color: black;
}
#Nombreh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombrei
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Descripcion_producto
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 color: black;
}
#Descripcion_productob
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -10px;
 color: black;
}
#Descripcion_productoc
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -8px;
 color: black;
}
#Descripcion_productod
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoe
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productof
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productog
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoi
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Precio
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    color: black;
}
.Tarjeta_Productos:hover {
    cursor: pointer;
    scale: 0.98;
    background-color: white;
   }
.espacio
{
    margin-top: 30px;
}
.iconos_menu
{
    padding-left: 12px;
    width: 30px;
}
.prom
{
    width: 200px;
    height: 250px;
    margin-left: 20%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#siem
{
    width: 180px;
    height: 35px;
    background: red;
    color: white;
    margin-left: 8px;
    text-align: center;
    text-shadow: 1px 1px white;
    margin-top: 20px;

}
#letp
{
    font-size: 40px;
    color: black;
    width: 200px;
    height: 200px;
    text-shadow: 1px 1px black;
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

}
@media (min-width:578px)
{
    .header .contenedor
    {
        display: flex;
        justify-content: space-between;
        background: white;
        color: white;
    }
.icono_menu
{
    display: block;
    width: 25px;
    height: 30px;
    /*border: 6px solid black;*/
    border-radius: 5px;
    margin-left: auto;
    margin-top: 25px;
    cursor: pointer;
    margin-right: 5px;
}
.menu_nav
{
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    transition: all 0.8s;
    background: black;

}
.menu
{
list-style: none;
padding:0;
margin:0;
background: rgba(11, 2, 137, 0.938);
}
.menu_link
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
    display: flex;
}
.menu_link:hover
{
    color: rgb(247, 250, 253);
    background: rgb(209, 77, 77);
}
.mostrar
{
    left: 0;
}

.banner
{
    position: relative;
    z-index: -1000;
    width: 578px;
    height: 250px;
    margin-top: 10px;
    margin-left: -8px;
    background-image: url(imagenes/Comida-Mexicana-y-Tex-Mex.jpg);
    background-size: 100% 100%;
    animation: banner 20s infinite;
}
@keyframes banner {
    0%, 30% {
        background-image: url(imagenes/comidas-más-populares-del-mundo.jpg);
        opacity: 1;
    } 31%, 34%
    {
        opacity: 0.1;
    }
    35%, 65% {
        background-image: url(imagenes/marq_priimos.jpg);
        opacity: 1;
    }66%, 69%
    {
        opacity: 0.1;
    }
    70%, 100% {
        background-image: url(imagenes/comida-mexicana2.jpg);
        opacity: 1;
    }
}
#encabezado
{
    font-size: 23px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.Productos
{
    width: 570px;
    height: 1250px;
    background: white;
    display: block;
    margin-left: -8px;
}
.Tarjeta_Productos
{
    width: 318px;
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.221) 0px 10px 20px, rgba(5, 5, 5, 0.23) 0px 6px 6px;
    margin-left: 140px;
    border-radius: 5%;
    background-color: whitesmoke;

}
#birria
{
    border-radius: 30%;
}
#taco
{
    width: 170px;
    height: 150px;
    border-radius: 20%;

}
#imagen_producto
{
 width: 170px;
 height: 80px;
 margin-left: 22%;
 padding-top: 10px;
}
#imagen_productob
{
 width: 190px;
 height: 150px;
}
#imagen_productoe
{
 width: 190px;
 height: 145px;
 border-radius: 20%;
}
#imagen_productof
{
 width: 190px;
 height: 135px;
 border-radius: 20%;
}
#imagen_productog
{
 width: 190px;
 height: 155px;
 border-radius: 20%;
}
#imagen_productoh
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#imagen_productohor
{
 width: 190px;
 height: 135px;
 border-radius: 10%;
 margin-left: 20px;
}
#imagen_productoi
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#ima1
{
    padding-top: 30px;
    width: 170px;
    height: 160px;
}

#ima2
{
    padding-top: 20px;
    width: 200px;
    height: 140px;
}
#Nombre
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombreb
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombrec
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 70px;
 margin-left: 10px;
 color: black;
}
#Nombred
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 75px;
 margin-left: 10px;
 color: black;
}
#Nombree
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 85px;
 margin-left: 10px;
 color: black;
}
#Nombref
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombreg
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 80px;
 margin-left: 10px;
 color: black;
}
#Nombreh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombrei
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Descripcion_producto
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 color: black;
}
#Descripcion_productob
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -10px;
 color: black;
}
#Descripcion_productoc
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -8px;
 color: black;
}
#Descripcion_productod
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoe
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productof
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productog
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoi
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Precio
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    color: black;
}
.Tarjeta_Productos:hover {
    cursor: pointer;
    scale: 0.98;
    background-color: white;
   }
.espacio
{
    margin-top: 30px;
}
.iconos_menu
{
    padding-left: 12px;
    width: 30px;
}
.prom
{
    width: 200px;
    height: 250px;
    margin-left: 35%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#siem
{
    width: 180px;
    height: 35px;
    background: red;
    color: white;
    margin-left: 8px;
    text-align: center;
    text-shadow: 1px 1px white;
    margin-top: 20px;

}
#letp
{
    font-size: 40px;
    color: black;
    width: 200px;
    height: 200px;
    text-shadow: 1px 1px black;
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
}
@media (min-width:768px)
{
    .header .contenedor
    {
        display: flex;
        justify-content: space-between;
        background: white;
        color: white;
    }
.icono_menu
{
    display: block;
    width: 25px;
    height: 30px;
    /*border: 6px solid black;*/
    border-radius: 5px;
    margin-left: auto;
    margin-top: 25px;
    cursor: pointer;
    margin-right: 5px;
}
.menu_nav
{
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    transition: all 0.8s;
    background: black;

}
.menu
{
list-style: none;
padding:0;
margin:0;
background: rgba(11, 2, 137, 0.938);
}
.menu_link
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
    display: flex;
}
.menu_link:hover
{
    color: rgb(247, 250, 253);
    background: rgb(209, 77, 77);
}
.mostrar
{
    left: 0;
}

.banner
{
    position: relative;
    z-index: -1000;
    width: 768px;
    height: 280px;
    margin-top: 10px;
    margin-left: -8px;
    background-image: url(imagenes/Comida-Mexicana-y-Tex-Mex.jpg);
    background-size: 100% 100%;
    animation: banner 20s infinite;
}
@keyframes banner {
    0%, 30% {
        background-image: url(imagenes/comidas-más-populares-del-mundo.jpg);
        opacity: 1;
    } 31%, 34%
    {
        opacity: 0.1;
    }
    35%, 65% {
        background-image: url(imagenes/marq_priimos.jpg);
        opacity: 1;
    }66%, 69%
    {
        opacity: 0.1;
    }
    70%, 100% {
        background-image: url(imagenes/comida-mexicana2.jpg);
        opacity: 1;
    }
}
#encabezado
{
    font-size: 23px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.Productos
{
    width: 768px;
    height: 550px;
    background: whitesmoke;
    margin-left: -25px;
    display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 10px;
}
.Tarjeta_Productos
{
    width: 318px;
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.221) 0px 10px 20px, rgba(5, 5, 5, 0.23) 0px 6px 6px;
    margin-left: 10px;
    border-radius: 5%;
    background-color: whitesmoke;

}
#birria
{
    border-radius: 30%;
}
#taco
{
    width: 170px;
    height: 150px;
    border-radius: 20%;

}
#imagen_producto
{
 width: 170px;
 height: 80px;
 margin-left: 22%;
 padding-top: 10px;
}
#imagen_productob
{
 width: 190px;
 height: 150px;
}
#imagen_productoe
{
 width: 190px;
 height: 145px;
 border-radius: 20%;
}
#imagen_productof
{
 width: 190px;
 height: 135px;
 border-radius: 20%;
}
#imagen_productog
{
 width: 190px;
 height: 155px;
 border-radius: 20%;
}
#imagen_productoh
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#imagen_productohor
{
 width: 190px;
 height: 135px;
 border-radius: 10%;
 margin-left: 20px;
}
#imagen_productoi
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#ima1
{
    padding-top: 30px;
    width: 170px;
    height: 160px;
}

#ima2
{
    padding-top: 20px;
    width: 200px;
    height: 140px;
}
#Nombre
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombreb
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombrec
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 70px;
 margin-left: 10px;
 color: black;
}
#Nombred
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 75px;
 margin-left: 10px;
 color: black;
}
#Nombree
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 85px;
 margin-left: 10px;
 color: black;
}
#Nombref
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombreg
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 80px;
 margin-left: 10px;
 color: black;
}
#Nombreh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombrei
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Descripcion_producto
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 color: black;
}
#Descripcion_productob
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -10px;
 color: black;
}
#Descripcion_productoc
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -8px;
 color: black;
}
#Descripcion_productod
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoe
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productof
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productog
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoi
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Precio
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    color: black;
}
.Tarjeta_Productos:hover {
    cursor: pointer;
    scale: 0.98;
    background-color: white;
   }
.espacio
{
    margin-top: 30px;
}
.iconos_menu
{
    padding-left: 12px;
    width: 30px;
}
.prom
{
    width: 200px;
    height: 250px;
    margin-left: 20%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    opacity: 0;
}
#siem
{
    width: 180px;
    height: 35px;
    background: red;
    color: white;
    margin-left: 8px;
    text-align: center;
    text-shadow: 1px 1px white;
    margin-top: 20px;

}
#letp
{
    font-size: 40px;
    color: black;
    width: 200px;
    height: 200px;
    text-shadow: 1px 1px black;
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
}
@media (min-width:810px)
{
    .header .contenedor
    {
        display: flex;
        justify-content: space-between;
        background: white;
        color: white;
    }
.icono_menu
{
    display: block;
    width: 25px;
    height: 30px;
    /*border: 6px solid black;*/
    border-radius: 5px;
    margin-left: auto;
    margin-top: 25px;
    cursor: pointer;
    margin-right: 5px;
}
.menu_nav
{
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    transition: all 0.8s;
    background: black;

}
.menu
{
list-style: none;
padding:0;
margin:0;
background: rgba(11, 2, 137, 0.938);
}
.menu_link
{
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font:bold;
    color: rgb(255, 255, 255);
    align-content: space-between;
    display: flex;
}
.menu_link:hover
{
    color: rgb(247, 250, 253);
    background: rgb(209, 77, 77);
}
.mostrar
{
    left: 0;
}

.banner
{
    position: relative;
    z-index: -1000;
    width: 810px;
    height: 280px;
    margin-top: 10px;
    margin-left: -8px;
    background-image: url(imagenes/Comida-Mexicana-y-Tex-Mex.jpg);
    background-size: 100% 100%;
    animation: banner 20s infinite;
}
@keyframes banner {
    0%, 30% {
        background-image: url(imagenes/comidas-más-populares-del-mundo.jpg);
        opacity: 1;
    } 31%, 34%
    {
        opacity: 0.1;
    }
    35%, 65% {
        background-image: url(imagenes/marq_priimos.jpg);
        opacity: 1;
    }66%, 69%
    {
        opacity: 0.1;
    }
    70%, 100% {
        background-image: url(imagenes/comida-mexicana2.jpg);
        opacity: 1;
    }
}
#encabezado
{
    font-size: 23px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.Productos
{
    width: 760px;
    height: 650px;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
}
.Tarjeta_Productos
{
    width: 318px;
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.221) 0px 10px 20px, rgba(5, 5, 5, 0.23) 0px 6px 6px;
    margin-left: 20px;
    border-radius: 5%;
    background-color: whitesmoke;

}
#birria
{
    border-radius: 30%;
}
#taco
{
    width: 170px;
    height: 150px;
    border-radius: 20%;

}
#imagen_producto
{
 width: 170px;
 height: 80px;
 margin-left: 22%;
 padding-top: 10px;
}
#imagen_productob
{
 width: 190px;
 height: 150px;
}
#imagen_productoe
{
 width: 190px;
 height: 145px;
 border-radius: 20%;
}
#imagen_productof
{
 width: 190px;
 height: 135px;
 border-radius: 20%;
}
#imagen_productog
{
 width: 190px;
 height: 155px;
 border-radius: 20%;
}
#imagen_productoh
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#imagen_productohor
{
 width: 190px;
 height: 135px;
 border-radius: 10%;
 margin-left: 20px;
}
#imagen_productoi
{
 width: 190px;
 height: 155px;
 border-radius: 10%;
}
#ima1
{
    padding-top: 30px;
    width: 170px;
    height: 160px;
}

#ima2
{
    padding-top: 20px;
    width: 200px;
    height: 140px;
}
#Nombre
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombreb
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombrec
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 70px;
 margin-left: 10px;
 color: black;
}
#Nombred
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 75px;
 margin-left: 10px;
 color: black;
}
#Nombree
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 85px;
 margin-left: 10px;
 color: black;
}
#Nombref
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 60px;
 margin-left: 10px;
 color: black;
}
#Nombreg
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 80px;
 margin-left: 10px;
 color: black;
}
#Nombreh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Nombrei
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 18px;
 margin-top: 90px;
 margin-left: 10px;
 color: black;
}
#Descripcion_producto
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 color: black;
}
#Descripcion_productob
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -10px;
 color: black;
}
#Descripcion_productoc
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -8px;
 color: black;
}
#Descripcion_productod
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoe
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productof
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productog
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoh
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Descripcion_productoi
{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 15px;
 margin-left: 10px;
 margin-top: -15px;
 color: black;
}
#Precio
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    color: black;
}
.Tarjeta_Productos:hover {
    cursor: pointer;
    scale: 0.98;
    background-color: white;
   }
.espacio
{
    margin-top: 30px;
}
.iconos_menu
{
    padding-left: 12px;
    width: 30px;
}
.prom
{
    width: 200px;
    height: 250px;
    margin-left: 20%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#siem
{
    width: 180px;
    height: 35px;
    background: red;
    color: white;
    margin-left: 8px;
    text-align: center;
    text-shadow: 1px 1px white;
    margin-top: 20px;

}
#letp
{
    font-size: 40px;
    color: black;
    width: 200px;
    height: 200px;
    text-shadow: 1px 1px black;
    font: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
}
